<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="main-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- [ Layout Fragment _ title ] -->
		<th:block layout:fragment="title"></th:block>

		<!-- [ Stylesheets & Plugin (3) ] -->
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/simplePagination.css}" />
		<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

		<!-- [ Layout Fragment _ add-css ] -->
		<th:block layout:fragment="add-css"></th:block>

		<!-- [ Script Src _ jQuery Min ] -->
		<script th:src="@{/scripts/jquery.min.js}"></script>

		<!-- [ Script Src _ Plugins (2)] -->
		<script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>

		<!-- [ Script Src _ Util (4)] -->
		<script th:src="@{/scripts/main.js}"></script>
		<script th:src="@{/scripts/common.js}"></script>
		<script th:src="@{/scripts/ajax_util.js}"></script>
		<script th:src="@{/scripts/jquery.simplePagination.js}"></script>

		<!-- [ Layout Fragment _ script ] -->
		<th:block layout:fragment="script"></th:block>
	</head>
</html>